@media only screen and (max-width: 320px) {
	.nav {
		width: 100%;
	}

	.home .left .secondary {
		font-size: 35px;
	}

	.visionBox {
		height: 185vh;
	}

	.products {
		margin-top: 170%;
	}

	.tablinks {
		margin-left: 14%;
		width: 23%;
	}

	.testimonials-content {
		margin-top: 45%;
	}

	.faq {
		margin-top: 100%;
	}

	.contact-us {
		margin-top: 50%;
	}

	.contact-container {
		height: 50vh;
	}

	.contact-us img {
		margin-bottom: 3%;
	}

	.work h3 {
		font-size: 22px;
		margin-top: 8%;;
	}

}